hr {
  margin-top: 30px;
  margin-bottom: 20px;
}
body {
  background-color: #e6f0ff; 
  color: #1c1c1c;             
  font-family: "Georgia", serif;
  margin: 0;
  
}

header {
  background-color: #d1e0ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #b3cde0;
}

header h1 {
  color: #003366; 
  margin: 0;
  font-size: 2rem;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}
  
@media screen {
    .site-nav {
        position:absolute;
        top: 9px;
        right: 15px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right
    }

    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center
    }

    .site-nav .menu-icon>svg {
        fill: #424242
    }

    .site-nav input ~ .trigger {
        clear: both;
        display: none
    }

    .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px
    }

    .site-nav .page-link:not(:last-child) {
        margin-right: 0
    }
}
